@charset "UTF-8";

body {
   background: url("/image/bg2.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
* {
	box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
	padding: 20px;
	border: 2px solid #aaa;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
	.column {
		width: 50%;
	}
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 90%;
	}
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.container {
	    margin: auto;
	    margin-top: 3%;
}

#cart-icon {
  margin-left: 40px;
  float: right;
  color: black;
}

.productThumbnail {
	width: 30%;
	height: 30%;
}

.card-img-top {
	width: 20%;
	height: 20%;
	color: blue;;
}

#item {
	width: 70%;
	margin: auto;
	margin-top: 3%;
}

#item img {
	float: right;
}

#item p, #item h5 {
	display: block;
}

fieldset {
	display: inline-grid;
}

#choice {
	margin-right: 0.5%;
}






.category-main-link {
  background-color: #aaa;
}

.category-main-link:hover {
  cursor: pointer;
  background-color: #CCCC00;
}


.product-main-link {
    background-color: #aaa;
}

.product-main-link:hover {
  cursor: pointer;
  background-color: #CCCC00;
}

.product-view {
  background-color: #aaa;
  padding: 10px;
}