<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<div th:replace="header :: myheader"></div>
</head>
<body>
	<nav th:insert="navbar :: navbar"></nav>
	<div class="card">
	<div class="card-body">
		<h3>Your Order</h3>
		</div>
		

		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">123</li>
			</ul>
		</div>
		<div class="card-body">
		<p>Subtotal</p>
		<p>Tax</p>
		</div>
		<div class="card-body">
		<button type="button" class="btn btn-success">Checkout</button>
		</div>
		
	</div>

</body>
</html>