<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<script src="https://js.stripe.com/v3/"></script>
<nav th:insert="navbar :: navbar"></nav>
<div class="card">
    <div class="card-body container">
        <h3>Your Order</h3>

        <div class="container" th:if="${cartIsEmpty}">
            Cart is empty.
        </div>

        <div th:unless="${cartIsEmpty}">
            <!-- List of items -->
            <ul class="list-group list-group-striped list-group-hover">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    th:each="item: ${cart.items}"
                >
                    <div class="container-fluid">
                        <h5 class="mb-1"
                            th:text="@{${item.productInfo.product.name} + ' ' + ${item.selectedSize.size.volume} + ' (' + ${item.productInfo.product.category.name} + ')' }"></h5>
                        <div class="container-fluid">
                            <small class="badge badge-secondary cart-option" th:each="option : ${item.selectedOptions}">
                                <span th:text="@{${option.attribute_value_name}}"></span>
                            </small>
                        </div>
                    </div>
                    <span class="badge badge-primary" th:text="${item.quantity}"></span>
                    &nbsp;
                    <span class="badge badge-info"
                          th:text="${price_formatter.getUsd(item.getPrice())}"></span>
                    &nbsp;
                    <span class="badge badge-danger badge-pill cart-option-delete"
                          th:onclick="@{'shoppingCart.removeItem(\'' + ${item.productInfo.product.id} + '\',\'' + ${item.selectedSize.id} + '\')'}">X</span>
                </li>
            </ul>

            <!-- Total and checkout -->
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-sm-8">
                        <div class="row">
                            <div class="col col-sm-2">
                                <span><b>Sub total:</b></span>
                            </div>
                            <div class="col col-sm-10">
                                <span th:text="${price_formatter.getUsd(cart.getSubTotal())}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-2">
                                <span><b>Tax:</b></span>
                            </div>
                            <div class="col col-sm-10">
                                <span th:text="${price_formatter.getUsd(cart.getTax())}"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-2">
                                <span><b>Total:</b></span>
                            </div>
                            <div class="col col-sm-10">
                                <span th:text="${price_formatter.getUsd(cart.getTotal())}"></span>

                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4 text-right">
                        <button type="button" class="btn btn-success align-bottom">Checkout</button>
                        <button type="button" class="btn btn-primary align-bottom" onclick="document.location='/index';">Continue shopping</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>