<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<div th:replace="header :: myheader"></div>
</head>
<body>
	<nav th:insert="navbar :: navbar"></nav>
	<div class="container">
		<div class="row">
			<div onclick="location.href='/coffee';" class="column" style="background-color: #aaa;">
				<h2>Coffee</h2>
			</div>
			<div onclick="location.href='/teas';" class="column" style="background-color: #bbb;">
				<h2>Milk Teas</h2>
			</div>
			<div onclick="location.href='/slushy_freeze';" class="column" style="background-color: #bbb;">
				<h2>Slushy Freeze</h2>
			</div>
		</div>
		<div class="row">
			<div onclick="location.href='/smoothies';" class="column" style="background-color: #ccc;">
				<h2>Smoothies</h2>
			</div>
			<div onclick="location.href='/specialteas';" class="column" style="background-color: #ddd;">
				<h2>SpecialTeas</h2>
			</div>
			<div onclick="location.href='/food';" class="column" style="background-color: #bbb;">
				<h2>Food</h2>
			</div>
		</div>
	</div>
</body>
</html>