<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<nav th:insert="navbar :: navbar"></nav>
<div class="card" id="item">
    <div class="top-stuff">
        <img class="card-img"
             th:src="@{'/image/' + ${productInfo.product.thum}}"
             alt="Card image cap">
        <h4 class="card-title in" th:text="${productInfo.product.name}"></h4>
        <p class="card-text in" th:text="${productInfo.product.description}"></p>
    </div>
    <div class="card-body">
   <div class="input-group" id="div-qty">
    <label class="form-check-label" id="label-for-qty">Quantity: </label>
  <div class="input-group-prepend">
    <button class="btn btn-secondary" id="minus" type="button">-</button>
  </div>
  <input type="number" class="form-control" id="item-qty" readonly="readonly" value="1" aria-describedby="basic-addon1" min='1' max='100'>
  
  
  
  
  
  <div class="input-group-append">
    <button class="btn btn-secondary" id="plus" type="button">+</button>
  </div>
</div>

    </div>
    <div class="card-body">


        <ul class="list-group list-group-flush" id="productSizes">
            <li class="list-group-item" id="sizeOp">Size</li>
            <li class="list-group-item">
                <fieldset th:each="object : ${productInfo.productSizesPrice}">
                    <div class="form-check form-check-inline choice" th:data="${object.id}">
                        <label class="form-check-label product-input-label"
                               th:data="${object.price}"
                               th:dataId="${object.id}"
                               th:for="'sizeRadio' + ${object.id}"
                               th:text="${object.size.volume} + ' ($' + ${object.price} + ')'"></label>
                        <input type="radio" class="form-check-input"
                               name="productSizeChoice"
                               th:id="'sizeRadio' + ${object.id}"
                               th:value=" ${object.id}"/>
                    </div>
                </fieldset>
            </li>
        </ul>


        <ul class="list-group list-group-flush" id="productOptions" th:each="attributeName : ${attributeNames}">
            <li class="list-group-item product-attribute-name" th:text="${attributeName}"></li>
            <li class="list-group-item">
                <fieldset th:each="options : ${optionsMappedByAttributeName.get(attributeName)}">
                    <div class="form-check form-check-inline choice" th:each="option : ${options}">
                        <label class="form-check-label product-input-label"
                               th:for="'optionCheck' + ${option.id}"
                               th:data="${option.price}"
                               th:dataId="${option.id}"
                               th:text="${option.attribute_value_name} + '(+$' + ${option.price} + ')'"></label>
                        <input type="checkbox" class="form-check-input"
                               th:id="'optionCheck' + ${option.id}"
                               th:value=" ${option.id}"/>
                    </div>
                </fieldset>
            </li>
        </ul>


        <div class="card-body" id="buttons">
            <a href="/index" class="card-link">Back to Menu</a>
            <button type="reset" class="btn btn-warning">Cancel</button>
            <button type="submit" class="btn btn-warning">Add to Cart</button>
        </div>
    </div>

</div>
</body>
</html>